@model MADBHoAccounting.Models.TbAccountName

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TB_AccountName</h4>
<hr />
<div class="row" shadow m-0 p-0>
    <div class="col-1">

    </div>
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <div class="row  mt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AccountCode" class="control-label my-1">Account Code</label>
                        <input asp-for="AccountCode" class="form-control" />
                        <span asp-validation-for="AccountCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SubsiHeadName" class="control-label my-1">SubsiHeadName</label>
                        <input asp-for="SubsiHeadName" class="form-control" />
                        <span asp-validation-for="SubsiHeadName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MainHeadName" class="control-label my-1">MainHeadName</label>
                        <input asp-for="MainHeadName" class="form-control" />
                        <span asp-validation-for="MainHeadName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AccountNature" class="control-label my-1">Account Nature</label>
                        <input asp-for="AccountNature" class="form-control" />
                        <span asp-validation-for="AccountNature" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="OrderCode" class="control-label my-1">OrderCode</label>
                        <input asp-for="OrderCode" class="form-control" />
                        <span asp-validation-for="OrderCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="IsDeleted" class="control-label"></label>
                    <input asp-for="IsDeleted" class="form-control" />
                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>*@
            <div class="form-group my-3 text-center">
                <input type="submit" value="Save" class="btn text-white" style="background-color: #224B0C" />
            </div>
        </form>
    </div>
    <div class="col-1">

    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

